/* Main container */
.itnetworkfirstpage-about-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box; /* Ensure padding and borders don't overflow */
  min-height: calc(100vh - nav-height); /* Ensure it doesn't exceed viewport */
  margin-top: 80px;
}

/* Image section */
.itnetworkfirstpage-image-section {
  width: 60%;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.itnetworkfirstpage-about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text section */
.itnetworkfirstpage-text-section {
  width: 85%;
  background-color: #008392;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: -6%;
}

/* Diagonal shaded line */
.itnetworkfirstpage-about-container::before {
  content: "";
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom right, #008392, rgba(214, 215, 219, 0));
  pointer-events: none;
  left: 39% !important;
  width: 3%;
  height: 150%;
  top: -25%;
  transform: skewX(-9.0deg) translate(-5px, 10px);
}

/* Text Styling */
.itnetworkfirstpage-text-section h1 {
  font-size: 3em;
  margin-top: -100px;
  margin-bottom: 10px;
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
}

.itnetworkfirstpage-text-section p {
  font-size: 1.3em;
  text-align: center;
  padding: 0 20px;
  z-index: 3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .itnetworkfirstpage-about-container {
    flex-direction: column; /* Stack sections vertically */
    height: auto; /* Adjust height for stacked layout */
  }

  .itnetworkfirstpage-image-section {
    width: 100%; /* Full width for the image section */
    height: 55vh; /* Half the viewport height */
    clip-path: none; /* Remove clip-path for a full rectangular display */
  }

  .itnetworkfirstpage-text-section {
    width: 100%; /* Full width for the text section */
    height: 30vh;
    margin-left: 0; /* Remove overlap */
    clip-path: none; /* Remove clip-path for a rectangular display */
    padding: 20px; /* Add padding for spacing */
  }

  .itnetworkfirstpage-text-section h1 {
    font-size: 2em; /* Adjust font size for smaller screens */
    margin-right: 60px;
    margin-top:-40px;

  }

  .itnetworkfirstpage-text-section p {
    font-size: 1em; /* Adjust paragraph font size */
    margin-left: -20px;
    text-align: left;
  }

  .itnetworkfirstpage-about-container::before {
    display: none; /* Hide the diagonal line in mobile view */
  }
}
