.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.conentcontainerdeisgn {
  background-color: #e8e9ea;
}

.content-container {
  display: flex;
  border-radius: 5px;
  background-color: #292c30;
  flex: 1;
  margin-top: 1%;
  overflow: auto;
}

.sidebar {
  width: 250px;
  background-color: white;
  overflow-y: auto;
  position: sticky;
  top: 0px;
  margin-top: 0;
  z-index: 1;
}

.main-content {
  flex: 1;
  background-color: #e8e9ea;
  height: calc(100vh - 60px);
  box-sizing: border-box;
}

.main-content h1 {
  background-color: #e8e9ea;
}

.Dashboarddesign {
  height: 150vh;
  padding: 20px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: white;
}

.Dashboard123 {
  height: auto;
  margin-top: 6%;
  padding: 20px;
  background-color: #e8e9ea;
}

.dashboard-graphs {
  display: flex;
  gap: 20px;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.dashboard-logingraph {
  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.dashboard-card-containers {
  display: flex;
  margin-top: 2%;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}
.dashboard-Projecttable {
  display: flex;
  margin-top: 5%;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}
