.employee-department {
    width: 250px; /* Adjust width */
    height: 320px; /* Adjust height */
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Space content vertically */
    align-items: flex-start;
    overflow: hidden; /* Prevents content from overflowing */
}

.employee-department h3{
    margin-top: 0;
}

.employee-department-title {
    margin-top: 15px;
}



.employee-department-chart {box-sizing: border-box;
    display: block;
    height: 300px;
    width: 300px;
}

.employee-department-session {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.employee-department-legend {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 18px;
    flex-wrap: wrap;
}

.employee-department-legend-item {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.employee-department-legend-color {
    width: 12px;
    height: 12px;
    border-radius: 0%;
    display: inline-block;
    margin-right: 5px;
}
.chart-container-bydepartment {
    width: 100%;
    
    height: 100%;
    margin: auto;
    padding: 10px;
    
  }