.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5%;

  padding: 20px;
  background-color: white;
  color: black;
  position: sticky;
  top: 2%;
  left: 0;
  right: 0;
  width: 100%;
  flex-shrink: 0;
  margin-left: -20%;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-left: 7%;
  margin-bottom: 1%;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -15%;
}

.profile-info {
  margin-left: 10%;

  gap: 5px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.profile-namedash {
  font-size: 16px;
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
  max-width: 100%;
}
.profile-designation {
  font-size: 14px;
  color: #777;
  margin-right: 30%;
  display: inline-block;
}

.icon-section {
  display: flex;
  gap: 40%;
  margin-right: 5%;
  font-size: 200%;
  margin-bottom: 2%;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}
