.projects-container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.projects-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.projects-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-right: 12.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.projects-grid::-webkit-scrollbar {
  display: none;
}

.project-card {
  flex: 0 0 25%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}

.project-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 20px;
}

.project-info {
  padding: 10px;
}

.project-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 12px;
  color: #666666;
  line-height: 1.6;
}

.project-card:nth-child(1) {
  background-color: #dadada;
}

.project-card:nth-child(2) {
  background-color: #dfd3cb;
}

.project-card:nth-child(3) {
  background-color: #fff8ee;
}

.project-card:nth-child(4) {
  background-color: #ffeee1;
}
.project-card:nth-child(5) {
  background-color: #ffeee1;
}

.projects-grid .project-card:last-child {
  margin-right: -12.5%;
}

.projects-grid:hover {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .projects-grid {
    flex-direction: column;
    overflow-x: hidden;
    padding: 10%;
  }

  .project-card {
    flex: 0 0 auto;
    width: 100%;

    margin-bottom: 20px;
  }

  .project-image {
    height: 200px;
  }

  .projects-grid .project-card:last-child {
    margin-right: 0;
  }
}
