.chat-page {
  display: flex;
  padding: 2% 1%;
  height: 75vh;
}

.chat-placeholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .chat-page {
    flex-direction: column;
    padding: 1% 1%;
  }

  .chat-list {
    width: 100%;
    height: 90%;
    order: 1;
  }

  .chat-tabs button {
    padding: 8px 0;
    font-size: 14px;
  }
  .new-chat-area {
    padding: 8px;
  }
  .chat-search {
    width: 95%;
  }
  .rooms-container {
    max-height: 400px;
  }

  .chat-window {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    order: 2;
  }

  .m-header {
    padding: 8px 12px;
  }
  .header-avatar {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
  .chat-header-title {
    font-size: 18px;
  }

  .messages {
    max-height: 450px;
    overflow-y: auto;
    width: 100%;
  }
  .msg-bubble {
    min-width: 12%;
    max-width: 80%;
    padding: 8px 12px 18px 12px;
    font-size: 14px;
  }

  .input-area {
    padding: 8px 12px;
  }
  .m-input {
    padding: 10px 12px;
    font-size: 14px;
  }
  .icon-btn,
  .send-btn {
    font-size: 20px;
    margin: 0 4px;
  }

  .msg-time {
    font-size: 10px;
  }

  .chat-page.chat-active .chat-list {
    display: none;
  }
  .chat-page.chat-active .chat-window {
    order: 1;
    flex: 1;
  }
}
