.tooling-container {
  display: flex;
  gap: 20px;
  padding: 70px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooling-image {
  position: relative;
  width: 34%;
  order: 2;
  padding: 10px 0;
  margin-top: 50px;
  margin-left: 30px;
}

.tooling-text {
  width: 60%;
  margin-top: -20px;
}

.tooling-text h1 {
  font-size: 2em;
  color: #000;
  margin-bottom: 20px;
}

.tooling-text h2 {
  font-size: 1.5em !important;
  margin-top: 20px;
  color: #333;
}

.tooling-text p {
  font-size: 0.905rem;
  color: #555;
  line-height: 1.6;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.services-list li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.services-list li strong {
  color: #333;
}

@media (max-width: 768px) {
  .tooling-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .tooling-image {
    width: 140%;
    margin-left: -50px;
    margin-top: 70px;
    order: 1;
  }

  .tooling-text {
    width: 140%;
    margin-left: -40px;
    order: 2;
  }
}

@media (min-width: 1920px) and (max-width: 1920px) {
  .tooling-container {
    padding: 80px;
  }

  .tooling-image {
    width: 30%;
  }

  .tooling-text {
    width: 62%;
  }

  .services-list li {
    width: 40%;
  }
}

@media (min-width: 1380px) and (max-width: 1919px) {
  .tooling-container {
    padding: 90px;
  }

  .tooling-image {
    width: 29%;
  }

  .tooling-text {
    width: 63%;
  }

  .services-list li {
    width: 44%;
  }
}
