.rb-admin {
  font-family: Arial, sans-serif;
  padding: 2%;
}

.h2 {
  text-align: left;
  margin-bottom: 20px;
}

.rb-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
}

.rb-filter-group {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 36px;
  margin-bottom: 5px;
}

.rb-filter-group label {
  font-weight: bold;
}

.rb-filter-group select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
  font-size: medium;
}

.rb-filter-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 26px;
  font-size: medium;
}

.rb-search {
  background-color: #79c42b;
  color: white;
  border: none;
  padding: 1% 3%;
  font-size: medium;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 36px;
}

.rb-search:hover {
  background-color: #0056b3;
}

.rb-atable-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.employee-section {
  background: #fff;
}

.employee-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  transition: background 0.3s;
}

.employee-row:hover {
  background: #f0f0f0;
}

.rb-sub-container {
  background: #fff;
}

.rb-sub-table {
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  overflow: visible;
}

.rb-sub-table th {
  background-color: #f2f2f2;
  padding: 8px;
  border: 2px solid #ddd;
  min-width: 60px;
}

.rb-sub-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
  overflow: visible;
}

.rb-sub-table td:nth-child(4) {
  text-align: right;
}

.update-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.update-btn {
  margin-right: 20%;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: gray;
}

.emp-rows {
  width: 25%;
  color: #949494;
}

.emp-rows span {
  color: #000;
  font-weight: bold;
}

.empId-rows {
  color: #949494;
  width: 40%;
}

.empId-rows span {
  color: #000;
  font-weight: bold;
  margin-right: 2%;
}

.status-label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.approved {
  background-color: #e6f9ed;
  color: #0f9d58;
}

.approved .status-dot {
  background-color: #0f9d58;
}

.rejected {
  background-color: #fde8e8;
  color: #d32f2f;
}

.rejected .status-dot {
  background-color: #d32f2f;
}

.rb-status-dropdown {
  width: 90px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.rb-sub-table input {
  width: 90px;
  padding: 5%;
  border-radius: 5px;
}

.rbadmin-comments {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

td:hover .rbadmin-comments {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  word-wrap: break-word;
  display: block;
  max-width: 200px;
}

td:hover {
  height: auto;
}

.rb-sub-table,
.rb-sub-container {
  overflow: visible !important;
}

.modal-cross-btn {
  background: none;
  border: none;
  padding-bottom: 2%;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.payment-header {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  background-color: #00468c;
  color: #fff;
}

.payment-header h3 {
  margin: 1% 0;
  padding-bottom: 2%;
}

.payment-options {
  padding: 4%;
}

.pending-payment-btn {
  border: 2px solid #fbb751;
  background-color: white;
  color: #fbb751;

  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.submit-payment-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}
