.rb-main {
  margin: 3%;
}

.tabs-container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.tab {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.tab:hover {
  color: #007bff;
}

.tab.active {
  font-weight: bold;
  color: #007bff;
}

.rb-table-container {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rb-sub-table td:nth-child(7) {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.rb-sub-table td:nth-child(7):hover {
  white-space: normal;
  overflow: auto;
  max-height: 100px; /* Limit max height */
  padding: 5px;
  word-wrap: break-word;
}

.reimbursement-table {
  table-layout: fixed;
  width: 100%;
}
.reimbursement-table th,
.reimbursement-table td {
  word-wrap: break-word;
  overflow: hidden;
}
