/* ToggleSlider.css */
.slider-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .rb-table-container {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .rb-sub-table td:nth-child(7) { 
    max-width: 200px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.rb-sub-table td:nth-child(7):hover {
    white-space: normal;
    overflow: auto;
    max-height: 100px; /* Limit max height */
    padding: 5px;
    word-wrap: break-word;
}

.reimbursement-table {
  table-layout: fixed;
  width: 100%;
}
.reimbursement-table th, .reimbursement-table td {
  word-wrap: break-word;
  overflow: hidden;
}

  /* .toggle-switch {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
  }
  
  .toggle-option {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
  }
  
  .toggle-option.active {
    background-color: #79c42b;
    color: white;
    font-weight: bold;
  }
   */