.schedule-wrapper {
  margin: 20px 0;
  overflow-x: auto;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.schedule-table th,
.schedule-table td {
  padding: 10px 13px;
  text-align: center;
}

.schedule-table th:nth-child(1) {
  width: 60px;
}

.schedule-table td:nth-child(8) {
  width: 105px;
}

.estimated-amount {
  margin: 1% 1.5%;
}

.estimated-amount label,
.schedule-table th {
  font-weight: bold;
}

.estimated-amount input {
  padding: 8px;
  margin: 0 2.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.schedule-table select,
.schedule-table input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.monthly-group {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.monthly-group input {
  background-color: #ccc;
  padding: 2%;
  width: 60%;
}

.monthly-group span {
  margin: 2%;
}

.monthly-small input {
  background-color: #ccc;
  padding: 8%;
  width: 50px;
}
