.pj-form-container {
  width: 100%;
  background: #E8E9EA;
}

.pj-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background: #00468C;
  color: #fff;
}

.pj-form-title {
  margin: 2%;
  color: #fff;
}

.pj-close-btn {
  font-size: x-large;
}

.pj-step-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 2% 0;
  padding: 0 5%;
}

.pj-step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Step Circle */
.pj-step-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}

/* Active step (current step) */
.pj-step-circle.active {
  background: #00468C; /* Blue */
}

/* Completed step */
.pj-step-circle.completed {
  background: #7AC127;
}

/* Gray background line */
.pj-step-bg {
  position: absolute;
  top: 15%;
  left: var(--step-line-left);
  width: var(--step-line-total-width);
  height: 2px;
  background: lightgray;
  z-index: 0;
}

/* Green progress line */
.pj-step-line {
  position: absolute;
  top: 15%;
  left: var(--step-line-left);
  width: var(--step-progress-width);
  height: 2px;
  background: #7AC127;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

.pj-step-label {
  margin-top: 5%;
  font-size: small;
  font-weight: bold;
  color: rgb(198, 197, 197);
}

.pj-step-item.active .pj-step-label {
  color: black;
}

.pj-step-item.completed .pj-step-label {
  color: black;
}

.pj-form-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(20%, 1fr));
  gap: 2%;
  padding: 1%;
}

.pj-form-group {
  margin-bottom: 5%;
}

.pj-form-group label {
  font-size: small;
  font-weight: bold;
  padding: 0%;
  margin: 0 0 0 10%;
}

/* Form Inputs */
.pj-form-grid input{
  margin: 0 0 0 10%;
  padding: 2%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 76%;
  background-color: #FFFFFF;
}

.pj-form-grid select {
  margin: 0 0 0 10%;
  padding: 2%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 81%;
  background-color: #FFFFFF;
}

.pj-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  margin: 0 4%;
}

.pj-description {
  flex: 1; 
}
.pj-description label {
  font-size: small;
  font-weight: bold;
}

.pj-description textarea {
  width: 95%;
  height: 60px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

.pj-attachment {
  flex: 1; /* Attachment section smaller */
  display: flex;
  flex-direction: column;
}

.pj-attachment label {
  font-size: small;
  font-weight: bold;
}

.pj-attachment-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 75px;
  width: 100%;
}

.pj-file-links a {
  display: flex;
  color: #00468C;
  text-decoration: none;
  font-size: 14px;
  margin-top: 8%;
}

.pj-attachment-upload {
  display: flex;
  align-items: center;
}

.pj-hidden-file-input {
  display: none;
}

.pj-custom-file-upload {
  background: #79C42B;
  color: #fff;
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
}

.pj-form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  margin: 2% 5%;
}

.pj-next-btn {
  background: #79C42B;
  color: white;
  padding: 1% 5%;
  border: 1px solid #79C42B;
  cursor: pointer;
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
}

.pj-next-btn:hover {
  background: #79C42B;
}

.pj-cancel-btn {
  color: #000;
  padding: 1% 5%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #79C42B;
  background-color: #fff;
  font-size: small;
  font-weight: bold;
}

.step-two-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(20%, 1fr));
  gap: 2%;
  padding: 2% 2% 0 2%;
}

.pj-form-group2 {
  margin-bottom: 5%;
}

.pj-form-group2 label {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: small;
  font-weight: bold;
  padding: 0%;
  margin: 0 0 0 5%;
}

/* Form Inputs */
.step-two-grid input{
  margin: 0 0 0 5%;
  padding: 2%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 85%;
  background-color: #FFFFFF;
}

.step-two-grid select {
  margin: 0 0 0 5%;
  padding: 2%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 90%;
  background-color: #FFFFFF;
}

.pj-input {
  height: 100px;
}

.employee-list-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(20%, 1fr));
  width: 85%;
  border: 1px solid #ccc;
  padding: 2%;
  height: 100px;
  overflow-y: auto;
  background: #fff;
  margin-left: 5%;
  border-radius: 5px;
}

.selected-employee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  background: #f3f3f3;
  padding: 2%;
  border-radius: 5px;
  margin: 2% 5%;
}

.remove-employee {
  cursor: pointer;
  color: red;
  margin-left: 10px;
  font-weight: bold;
}

.placeholder-text {
  display: flex;
  width: 90%;
  color: #888;
  font-style: italic;
}

.key-input {
  margin: 0 4.5%;
}

.key-point {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.key-point input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.key-input label {
  font-size: small;
  font-weight: bold;
}

.key-considerations-box{
  width: 99%;
  height: 100px;
  padding: 1% 0 0 1%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: auto;
}

.pj-step-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.milestone-table-container {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.milestone-table {
  width: 100%;
  border-collapse: collapse;
}

.milestone-table thead th {
  position: sticky;
  top: 0;
  background-color: #E8E9EA;
  z-index: 10;
  font-weight: bold;
  font-size: 12px;
  padding: 1%;
}

.milestone-table td {
  padding: 10px;
  text-align: center;
}

.milestone-table th:nth-child(1) { 
  min-width: 60px;
  text-align: center;
}

.milestone-table input {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.add-milestone-btn {
  margin: 2%;
  margin-left: 80%;
  background-color: #79C42B;
  color: white;
  border: none;
  padding: 1% 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.add-milestone-btn:hover {
  background-color: #79C42B;
}

.pj-step-four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-finance {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.project-finance-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15%;
}

.project-finance-group label {
  font-weight: bold;
  font-size: small;
}

.project-finance-group input {
  width: 80%;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-finance {
  width: 100%;
}

.payout-details {
  width: 100%;
  display: flex;
  text-align: left;
  padding-left: 1%;
  font-size: medium;
}

.finance-table-container {
  width: 98%;
  max-height: 280px;
  overflow-y: auto;
  padding: 0 0 0 1%;
}

.finance-table {
  width: 100%;
  border-collapse: collapse;
}

.finance-table thead th {
  position: sticky;
  top: 0;
  background-color: #E8E9EA;
  z-index: 10;
  font-weight: bold;
  font-size: 12px;
  padding: 1%;
}

.finance-table td {
  padding: 1%;
  text-align: center;
  font-size: 12px;
  align-items: center;
}

.finance-table th {
  font-weight: bold;
}

.finance-table th:nth-child(1) { 
  min-width: 45px;
  text-align: center;
}

.finance-table input {
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.finance-table select {
  padding: 3%;
  border-radius: 4px;
  text-align: center;
}

.completed-date {
  font-size: small;
  color: #000;
  padding: 0%;
}

.finance-table tfoot .summary-row {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 10;
}

.finance-table tfoot .summary-row span {
  margin: 0 4%;
}

.step-four-group {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

.step-four-group input {
  background-color: #ccc;
  padding: 1%;
  width: 50%;
}

.small-input input{
  background-color: #ccc;
  padding: 1%;
  width: 40px;
}

.step-four-group2 {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.step-four-group2 input {
  background-color: #ccc;
  padding: 1%;
  width: 50%;
}

.step-four-group2 span {
  font-size: medium;
}

.small-input2 input{
  background-color: #ccc;
  padding: 1%;
  width: 50px;
  margin-top: 1%;
}

input[type="checkbox"] {
  appearance: none; /* Remove default styling */
  width: 15px;
  height: 15px;
  margin: 0;
  border: 2px solid #79C42B;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #79C42B;
  border: 2px solid #79C42B;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 1px;
  left: 1px;
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block; /* Show tick when checked */
}

.custom-dropdown {
  position: relative;
  margin: 0 0 0 10%;
  padding: 1.5%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 77%;
  background-color: #FFFFFF;
}

.dropdown-header {
  background: #fff;
  border-radius: 4px;
  font-size: small;
  padding: 2%;
  width: 98%;
  height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-header:hover {
  white-space: normal; /* Allow full text to be seen on hover */
  height: auto;
  max-height: 200px; /* Prevent too much expansion */
}

.dropdown-menu {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  width: 95%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 6px;
  margin: 0;
  font-size: small;
}

.dropdown-item input {
  margin-right: 8px;
}

.project-category {
  font-size: small;
  font-weight: bold;
  padding: 0%;
  margin: 0 0 0 10%;
}

.employee-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 120px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.employee-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  font-size: small;
}

.employee-item:hover {
  background-color: #f0f0f0;
}

.no-employees {
  padding: 8px;
  color: gray;
  text-align: center;
}

.add-employee {
  margin: 0 0 0 5%;
  padding: 0;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 90%;
  background-color: #FFFFFF;
}
