.project-dashboard {
  padding: 20px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.add-project-button {
  background-color: #79c42b;
  font-size: medium;
  font-weight: bold;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-project-button:hover {
  background-color: #79c42b;
}

.project-tabs {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  color: #777;
  font-weight: bold;
}

.project-tabs span {
  cursor: pointer;
}

.active-tab {
  color: #004dc6;
  border-bottom: 2px solid #004dc6;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.add-project-card {
  background-color: white;
  border-radius: 10px;
  padding: 0% 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.company {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin: 5% 0;
}

.project-label {
  color: #888;
  margin: 0 0 1% 0;
  font-size: medium;
}

.project-value {
  font-size: medium;
  font-weight: bold;
  margin: 0 0 6% 0;
}

.pj-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pj-modal-content {
  background-color: #e8e9ea;
  padding: 0;
  width: 90%;
  position: relative;
}

.pj-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.pj-update-icon {
  font-size: xx-large;
  color: #004dc6;
}
