.cae-analysis-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.cae-analysis-text {
  width: 60%;
  order: 1;
  margin-top: -30px;
}

.cae-analysis-text h1 {
  font-size: 2em;
  color: #000;
  margin-bottom: 10px;
}

.cae-analysis-text h2 {
  font-size: 1.5em !important;
  color: #555;
  margin-bottom: 5px !important;
}

.cae-analysis-text p {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.services-list li {
  width: 45%;
  font-size: 0.9em;
  color: #333;
}

.cae-analysis-image {
  position: relative;
  width: 32%;
  order: 2;
  margin-top: 60px;
}

.services-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cae-analysis-button {
  background-color: #00c853;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cae-analysis-button:hover {
  background-color: #009624;
}

@media (max-width: 768px) {
  .cae-analysis-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 20px;
  }

  .cae-analysis-text {
    width: 145%;
    order: 1;
  }

  .services-list li {
    width: 100%;
  }
  .cae-analysis-image {
    position: relative;
    width: 150%;
    margin-top: 70px;
    order: 1;
  }

  .services-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

@media (min-width: 1920px) and (max-width: 1920px) {
  .cae-analysis-container {
    padding: 100px;
  }

  .cae-analysis-text {
    width: 58%;
  }

  .cae-analysis-image {
    width: 38%;
  }

  .services-list li {
    width: 40%;
  }
}

@media (min-width: 1380px) and (max-width: 1919px) {
  .cae-analysis-container {
    padding: 80px;
  }

  .cae-analysis-text {
    width: 59%;
  }

  .cae-analysis-image {
    width: 28%;
  }

  .services-list li {
    width: 44%;
  }
}
