.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-modal-content {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 10px solid #00468c;
}

.modal-title {
  margin-top: 0;
  font-size: 1.5rem;
  opacity: 1!important;
  z-index: 99999!important;
  margin-left: 10%;
}

.modal-body {
  align-items: center;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.modal-buttons button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  background-color: #7ac142;
  color: #fff;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #65a037;
}
