.reset-password-container {
  width: 35%;
  margin: 10% 30%;
  padding: 0;
  border: 10px solid #00468c;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.reset-header {
  width: 100%;
  background-color: #00468c;
  text-align: center;
  margin: 0%;
  padding: 4% 0;
}

.reset-header h2 {
  color: #fff;
  margin: 0%;
}

.reset-form {
  margin: 0 5%;
  align-items: center;
}

.reset-group {
  align-items: center;
  padding: 5%;
}

.reset-group input {
  width: 92%;
  padding: 4%;
  font-size: large;
}

.reset-group label {
  display: block;
  font-weight: bold;
}

.reset-button {
  align-items: center;
  padding: 5%;
}

.submit-reset {
  width: 100%;
  padding: 4%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-reset:hover {
  background-color: #45a049;
}

.re-error-message {
  margin-top: 2%;
  color: red;
  text-align: center;
}

.success-message {
  margin-top: 2%;
  color: green;
  text-align: center;
}
