.dashboard {
  display: flex;

  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.conentcontainerdeisgn {
  background-color: #e8e9ea;
}

.content-container {
  display: flex;
  border-radius: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #ddd;
  flex: 1;
  margin-bottom: 0px;
  overflow: auto;
}

.sidebar {
  width: 250px;
  background-color: white;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: sticky;
  top: 10px;
  margin-top: 0;
  z-index: 1;
}

.main-content {
  flex: 1;
  background-color: #ddd;

  height: 0%;
  box-sizing: border-box;
}

.main-content h1 {
  background-color: #ddd;
}

.Dashboarddesign {
  height: 85vh;
  padding: 0px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: white;
}
.Dashboard123 {
  height: auto;
  margin-top: 6%;
  padding: 0px;
  background-color: #e8e9ea;
}

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    width: 100%;
  }

  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    background-color: white;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 0%;
    z-index: 100;
  }

  .sidebar.sidebar-open {
    transform: translateY(0);
  }

  .Dashboarddesign {
    height: 100vh;
    padding: 0px;

    border-radius: 5px;
    background-color: white;
  }

  .main-content {
    width: 100%;
    flex: 1;
  }

  .topbar {
    margin-top: -20%;
    position: relative;
    padding-left: 30%;
    padding: 0;
    background-color: #001d4a;
  }
  .Dashboard123 {
    margin-top: -5%;
    padding: 0px;
    background-color: #e8e9ea;
  }
}
