/* Dashboard container */
.dashboard {
  display: flex;
 
  flex-direction: column; /* Topbar on top, Sidebar + Content below */
  height: 100%; /* Full viewport height */
  overflow: hidden; /* Prevent scrollbars outside the layout */
}

/* Topbar styles */

.conentcontainerdeisgn{
  background-color: #E8E9EA;
}

/* Content container (Sidebar + Main Content) */
.content-container {
  display: flex;
  border-radius: 5px;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none;
  background-color: #ddd;
  flex: 1; /* Fills the remaining space below the Topbar */
  margin-bottom: 0px; /* Push Sidebar and Main Content below the Topbar */
  overflow: auto; /* Prevents overflow in the layout */
}

/* Sidebar styles */
.sidebar {
  
  width: 250px; /* Fixed width */
  background-color: white;
  overflow-y: auto; /* Sidebar scrolls if content overflows */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none;
  /* height: calc(100vh - 60px); Full height minus Topbar height */
  position: sticky; /* Sticks in place during scrolling */
  top: 10px; /* Push below the Topbar */
  margin-top:0;
  z-index: 1; /* Keep Sidebar below the Topbar */
}


/* Main content styles */
.main-content {
  flex: 1; /* Main content takes the remaining space */
  /* overflow-y: auto; Enable scrolling for the main content */
  background-color: #E8E9EA;
 
  height:0%; /* Full height minus Topbar height */
  box-sizing: border-box; /* Include padding in width/height */
}

.main-content h1{
  
  background-color: #E8E9EA;
 
}

.Dashboarddesign
{
  height:85vh;
  padding: 0px;
  padding-top:10px;
 border-radius: 5px;
  background-color: white;
}
.Dashboard123
{

  height: auto;
  margin-top: 6%;
 padding: 0px;
  background-color:#E8E9EA;
}
