.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  overflow-y: auto; /* Enables vertical scrolling */

  position: fixed; /* Keeps sidebar fixed on the left */
  left: 0;
  margin-top: 100%;
  padding: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  margin: 5px 0;

  cursor: pointer;
  background-color: white;
  border-radius: 6px 0 0 6px;
  /* border: 1px solid #ddd;  */
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #ddd;
}

.sidebar .icon {
  font-size: 20px;
  margin-right: 15px;
  color: #555;
}

.sidebar .menu-text {
  font-size: 16px;
  color: #333;
}

/* Sidebar.css */
.view-profile {
  padding: 1%;
  cursor: pointer;
  margin-left: 22%;
}

.view-profile-text {
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.view-profile-text:hover {
  color: #0056b3;
}

/* Active menu item */
.sidebar li.active {
  background: #ddd; /* Active item background */
  color: white; /* Active text color */
  font-weight: bold;
}
