/* Topbar container */
.topbar {
  display: flex;
  justify-content: space-between; /* Space between profile and icons */
  align-items: center; /* Vertically align items */
  height: 2.5%; /* Fixed height */

  padding: 20px; /* Horizontal padding */
  background-color: white;
  color: black;
  position: sticky; /* Sticky position */
  top: 2%; /* Ensure it stays below the Navbar */
  left: 0; /* Ensure it stays aligned to the left */
  right: 0; /* Ensure it stays aligned to the right */
  width: 100%; /* Ensure full width */
  flex-shrink: 0; /* Prevent shrinking */
  margin-left: -20%;

  /* margin-top: 6%; */
}

/* Profile section styling */
.profile-section {
  display: flex;
  align-items: center; /* Align profile items vertically */
  margin-left: 7%;
  margin-bottom: 1%;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -15%;
}

.profile-info {
  margin-left: 10%;

  gap: 5px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.profile-namedash {
  font-size: 16px;
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
  max-width: 100%;
}
.profile-designation {
  font-size: 14px;
  color: #777;
  margin-right: 30%;
  display: inline-block;
}

.icon-section {
  display: flex;
  gap: 40%;
  margin-right: 5%;
  font-size: 200%;
  margin-bottom: 2%;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.calendar-dropdown {
  position: absolute;
  top: 150px;
  right: 0.1%;
  font-size: small;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #00468c;
  color: white;
  border: none;
  padding: 2% 3%;
  border-radius: 50%;
  cursor: pointer;
  font-size: small;
  z-index: 10;
}
.close-btn:hover {
  background: darkred;
}

/* Apply interactive effects to Font Awesome icons */
.fas.fa-calendar-alt,
.fas.fa-power-off {
  cursor: pointer;
  transition: transform 0.1s ease, color 0.3s ease;
}

/* Hover: scale up slightly and optionally change color */
.fas.fa-calendar-alt:hover,
.fas.fa-power-off:hover {
  transform: scale(1.1);
  color: #ffca28; /* adjust this color as desired */
}

/* Active: scale down slightly */
.fas.fa-calendar-alt:active,
.fas.fa-power-off:active {
  transform: scale(0.95);
}
