.circular-container-new {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.central-wrapper-new {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px dotted #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.central-image-new {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.central-image-new img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.circular-item-new {
  position: absolute;
  display: flex;
  align-items: center;
  transform-origin: center;
}

.line-new {
  position: absolute;
  width: 120px !important;
  height: 0.15px !important;
  background: transparent;
  border-top: 2px dashed #000 !important;
  transform-origin: left;
}

.line-1-new {
  width: 52.5% !important;
  transform: rotate(-50deg);
  top: 300% !important;
  right: 56% !important;
}
.line-2-new {
  top: 50%;
  left: -73% !important;
  width: 73% !important;
  transform: rotate(0deg);
}
.line-3-new {
  top: -5%;
  left: 25%;
  width: 43% !important;
  transform: rotate(230deg);
}
.line-4-new {
  top: 50%;
  left: 173%;
  width: 71% !important;
  transform: rotate(180deg);
}
.line-5-new {
  top: 314%;
  left: 130%;
  width: 76% !important;
  transform: rotate(225deg);
}
.line-6-new {
  top: -10%;
  left: 74%;
  width: 73% !important;
  transform: rotate(321deg);
}
.circular-button-new {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  gap: 10px;
}

.circular-button-new.reverse {
  flex-direction: row;
}

.circular-button-new.reverse img {
  margin-right: 0 !important;
  margin-left: 5px !important;
}

.circular-item-new .circular-button-new:hover {
  background-color: #abe46c;
}

.circular-button-new.active-button-new {
  background-color: #abe46c;
  color: black;
  cursor: default;
}

.circular-button-new:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circular-button-new:hover img {
  transform: scale(1.1);
}

.circular-button-new.reverse:hover {
  transform: scale(1.1);
}

.circular-item-new img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.circular-item-new p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.page-section-new {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: -50px;
  margin-top: -80px;
}

.page-section-new h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.page-section-new p {
  font-size: 1.2em;
  color: #555;
}

@media screen and (max-width: 768px) {
  .circular-container-new {
    width: 400px;
    height: 400px;
    padding-bottom: 30px;
  }
  .central-image-new img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .central-wrapper-new {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px dotted #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  .central-image-new {
    position: absolute;
    width: 1%;
    height: 1%;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .central-image-new {
    width: 120px;
    height: 120px;
    margin-right: 0px;
  }

  .circular-item-new {
    transform-origin: center;
  }

  .circular-button-new {
    padding: 4px 2px;
    gap: 0px;
  }

  .circular-item-new p {
    font-size: 10px;
  }

  .line-new {
    width: 60px !important;
    height: 0.1px !important;
    border-top: 1px dashed #000 !important;
  }

  .line-1-new {
    width: 35% !important;
    transform: rotate(-50deg);
    top: 190% !important;
    left: 20% !important;
  }
  .line-2-new {
    top: 40%;
    left: -10% !important;
    width: 10% !important;
    transform: rotate(0deg);
  }
  .line-3-new {
    top: -5%;
    left: 30%;
    width: 35% !important;
    transform: rotate(240deg);
  }
  .line-4-new {
    top: 43%;
    left: 122%;
    width: 23% !important;
    transform: rotate(180deg);
  }
  .line-5-new {
    top: 188%;
    left: 96%;
    width: 42% !important;
    transform: rotate(230deg);
  }
  .line-6-new {
    top: -5%;
    left: 65%;
    width: 51% !important;
    transform: rotate(308deg);
  }
  .circular-button-new {
    gap: 1%;
  }
  .circular-button-new:hover img {
    transform: scale(0.9);
  }

  .circular-button-new.reverse:hover {
    transform: scale(1.1);
  }
  .circular-button-new:hover {
    transform: scale(1.1);
  }
}
