.emp-projects-container {
    width: 100%;
    max-width: 1050px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.emp-tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

.emp-sub-heading {
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.emp-tab {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    position: relative;
}

.emp-tab.emp-active {
    color: black;
}

.emp-tab.emp-active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: blue;
    bottom: 0;
    left: 0;
}

.emp-projects-table {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.th, .td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
