.emp-sessions {
  width: 300px;
  height: 350px;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
}

.emp-sessions h3 {
  margin-top: -15%;
}

.emp-sessions p {
  margin-top: -18%;
  color: #686868;
  font-size: small;
}

.chart-container {
  width: 100%;
  height: 180px;
  position: relative;
}

.chart-center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
