.emp-workdays {
  width: 300px; /* Adjust width */
  height: 350px; /* Adjust height */
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
}

.emp-workdays h3 {
  margin-top: -0%;
}

.emp-workdays p {
  margin-top: -5%;
  color: #686868;
  font-size: small;
}

.workdays-chart-container {
  width: 100%;
  height: 180px;
}

.workdays-session-time {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.workdays-custom-legend {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 18px;
  flex-wrap: wrap;
}

.workdays-legend-item {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.workdays-legend-color {
  width: 12px;
  height: 12px;
  border-radius: 0%;
  display: inline-block;
  margin-right: 5px;
}
.custom-legend {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 12px; 
  gap: 5px;
}

.legend-color {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #ddd; /* Default color, will be overridden inline */
}
.chart-container1 {
  width: 200px;  /* Increase chart size */
  height: 180px;
  margin-left: 15%;
   /* Move chart lower */
}
