
.EmpDashCards1234
{
  margin-top: 30px;
}


.EmpLeaveTracker123 {
    padding: 0;
    
    
    flex-grow: 0;
    margin-top:3%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  }

  .EmpLeaveTracker123 h2
  {
    margin-right: 74%;
    margin-bottom: -2%;
    
  }

  .empcardcharts123 {
    
    display: flex;
    gap: 34px; /* Space between charts */
    margin-top: 5%;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: center; /* Centers items properly */
    width: 100%; /* Ensures it takes full width */
    padding: 0 0%; /* Adds padding to avoid touching edges */
  }
 
  .mydailyworkhour123
  {
    display: flex;  
      justify-content: space-evenly; /* Adjust as needed */
      /* Adds space between the charts */
      /* Ensures responsiveness */
    
  }

  .EmpProjectTable
  {
    display: flex;
    margin-top: 3%;
  }

  /* Overlay background */
.reg-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* dark translucent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup box */
.reg-popup-content {
 padding: 10px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  text-align: center;
 
  animation: scaleIn 0.25s ease-in-out;
}

/* Optional animation */
@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 780px) {
  .reg-popup-content {
    width: 100%;
    padding: 12px 10px;
    border-radius: 10px;
    margin-left: 0%;
  }

  .reg-popup-overlay {
    
    padding-top: 0px; /* allows popup to show lower on small screens */
  }
}
