
.EmpDashCards1234
{
  margin-top: 30px;
}


.EmpLeaveTracker123 {
    padding: 0;
    
    
    flex-grow: 0;
    margin-top:3%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  }

  .EmpLeaveTracker123 h2
  {
    margin-right: 74%;
    margin-bottom: -2%;
    
  }

  .empcardcharts123 {
    
    display: flex;
    gap: 34px; /* Space between charts */
    margin-top: 5%;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: center; /* Centers items properly */
    width: 100%; /* Ensures it takes full width */
    padding: 0 0%; /* Adds padding to avoid touching edges */
  }
 
  .mydailyworkhour123
  {
    display: flex;  
      justify-content: space-evenly; /* Adjust as needed */
      /* Adds space between the charts */
      /* Ensures responsiveness */
    
  }

  .EmpProjectTable
  {
    display: flex;
    margin-top: 3%;
  }