.employee-details-container {
  padding: 2%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.header-title {
  display: flex;
  align-content: flex-start;
  font-size: x-large;
  font-weight: bold;
  margin:  1% 0 5% 0;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1%;
  padding: 0;
}

.search-container label {
  font-size: medium;
  width: 40%;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.ed-search-input {
  border: none;
  outline: none;
  font-size: medium;
  color: #333;
  height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Adjust width as needed */
}

.ed-search-input::placeholder {
  padding: 0 0 0 2%;
  color: #999;
  font-size: 13px;
}

.calendar-input-group {
  display: flex;
  align-items: center; /* Align label and input inline */
  gap: 5px; /* Space between label and input box */
  flex-wrap: nowrap; /* Ensure label and input stay on the same row */
}

.calendar-label {
  font-size: medium;
  color: #333;
  white-space: nowrap; /* Prevent the label from wrapping */
  margin: 0;
}

.calendar-input-wrapper {
  display: flex;
  align-items: center; /* Align input and calendar icon inline */
  height: 40px;
}

.custom-calendar-input {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
}

.custom-calendar-input input {
  width: 90px; /* Adjust width as needed */
  padding: 0px 30px 0px 10px; /* Add padding for the icon */
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  height: 40px;
}

.custom-calendar-input .calendar-icon {
  position: absolute;
  right: 10px;
  color: #888;
  cursor: pointer;
}

.search-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: larger;
  border-radius: 5px;
  background-color: #79C42B;
  color: white;
  border: none;
  cursor: pointer;
}

.search-icon {
  margin-right: 5px;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

/* Add New Employee Button */
.add-employee-button {
  display: flex;
  align-items: center;
  padding: 0 3%;
  background-color: #79C42B;
  color: #FFFFFF;
  font-size: larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-employee-button .add-icon {
  font-size: 30px;
  margin-right: 5px;
}

/* Employee Table */
.employee-table {
  width: 100%;
  height: 520px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 2% 0;
  padding: 0%;
  border-collapse: collapse;
  display: block;
}

.employee-table th {
  top: 0;
  border: 2px solid #CCCBCE;
  background-color: #F2F2F2;
  padding: 1% 0;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.employee-table td {
  border: 1px solid #CCCBCE;
  background-color: #fff;
  padding: 8px;
  text-align: left;
  font-size: 15px;
}

.employee-table tr {
  background-color: #fff;
}

.employee-table th:nth-child(3),
.employee-table td:nth-child(3) { 
  min-width: 100px;
  text-align: center;
}

.employee-table th:nth-child(2),
.employee-table td:nth-child(2) { 
  min-width: 150px;
}

.status-active {
  color: #029d02;
  font-weight: bold;
}

.status-inactive {
  color: red;
  font-weight: bold;
}

.edit:disabled,
.deactivate:disabled {
  color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.actions {
  display: flex;
  gap: 1rem;
}

button.edit,
button.deactivate {
  padding: 0;
  cursor: pointer;
  font-size: x-large;
  border: none;
  border-radius: 5px;
  color: white;
}

button.edit {
  background-color: #fff;
  color: #000000;
}

button.edit:hover {
  background-color: #fff;
}

button.deactivate {
  background-color: #fff;
  color: #000000;
}

button.deactivate:hover {
  background-color: #fff;
}


/* Employee Form */
.employee-form {
  display: flex;
  flex-direction: column;
  gap: 2%;
  background-color: #E8E9EA;
  border-radius: 0%;
  padding: 0%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* Form Header */
.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00468C;
  height: 5vh;
  padding: 1% 5% 1% 3%;
}

.form-header-title {
  font-size: 1.5vw; /* Adjusts based on screen width */
  color: #FFFFFF;
}

.cancel-icon {
  font-size: 2vw;
  color: #FFFFFF;
  cursor: pointer;
}

/* Form Grid */
.form-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  gap: 2%;
  padding: 2%;
}

.form-group {
  margin-bottom: 10%;
}

.form-group label {
  padding: 0%;
  margin: 0 0 0 5%;
}

/* Form Inputs */
.form-grid input{
  margin: 0 0 0 5%;
  padding: 3%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 76%;
  background-color: #FFFFFF;
}

.form-grid select {
  margin: 0 0 0 5%;
  padding: 3%;
  border: 1px solid #CCCBCE;
  border-radius: 5px;
  width: 84%;
  background-color: #FFFFFF;
}

.required {
  color: red;
}

/* Form Actions */
.button-group {
  display: flex;
  gap: 10%;
  justify-content: flex-end;
  padding: 2% 4% 1% 1%;
}

.cancel-button {
  background-color: transparent;
  color: #000000;
  border: 0.3vw solid #7FBD2C;
  width: 25%;
  padding: 1%;
  cursor: pointer;
  font-size: 1vw;
}

.save-employee-button {
  background-color: #7FBD2C;
  color: white;
  border: none;
  width: 25%;
  padding: 1%;
  cursor: pointer;
  font-size: 1vw;
}

/* Prevent default hover effects */
.cancel-button:hover,
.save-employee-button:hover {
  background-color: #79C42B;
  color: initial;
  border-color: initial;
}

.emp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.emp-modal {
  background-color: #E8E9EA;
  padding: 0;
  width: 70%;
  top: 6%;
  position: relative;
}

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-modal {
  background-color: #E8E9EA;
  border: 10px solid #00468C;
  padding: 1.5%;
  width: 30%;
  top: 6%;
  position: relative;
  text-align: center;
}

/* Ensure buttons are properly spaced out */
.delete-buttons {
  display: flex;
  justify-content: space-around; /* Space out the buttons */
  width: 100%;
  padding: 2%;
}

/* Styling for the cancel button */
.delete-modal-cancel {
  background-color: transparent;
  color: #000000;
  border: 0.3vw solid #7FBD2C;
  width: 25%;
  padding: 1%;
  cursor: pointer;
  font-size: 1vw;
}

/* Styling for the delete button */
.delete-modal-delete {
  background-color: #7FBD2C;
  color: white;
  border: none;
  width: 25%;
  padding: 1%;
  cursor: pointer;
  font-size: 1vw;
}

.modal-delete-button:hover {
  background-color: #999;
}

.errors {
  font-size: medium;
  color: red;
  margin: 0.5% 2%;
}