.it-consulting-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.it-consulting-image {
  position: relative;
  width: 35%;
  order: 2;
  margin-top: 0px;
  width: 40%;
  height: auto;
  border-radius: 8px;
  margin-top: 0;
}

.it-consulting-text {
  width: 60%;
  order: 1;
  margin-bottom: 110px;
}

.it-consulting-text h1 {
  font-size: 2em;
  color: #000;
  margin-bottom: 15px;
}
.it-consulting-text h2 {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 15px;
}

.it-consulting-text p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.services-list li {
  width: 45%;
  font-size: 1em;
  color: #333;
}

.it-consulting-button {
  background-color: #00c853;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1em;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.it-consulting-button:hover {
  background-color: #009624;
}

@media (max-width: 768px) {
  .it-consulting-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 20px;
    padding: 40px;
  }

  .it-consulting-text {
    margin-top: -40px;
    width: 100%;
    order: 2;
  }

  .it-consulting-image {
    margin-top: 100px;
    width: 100%;
    order: 1;
  }

  .services-list li {
    width: 100%;
  }
}

@media screen and (min-width: 1380px) and (max-width: 1919px) {
  .it-consulting-container {
    padding: 75px;
    gap: 15px;
  }

  .it-consulting-text {
    margin-bottom: 90px;
  }

  .it-consulting-text h1 {
    font-size: 2.2em;
  }

  .it-consulting-text h2 {
    font-size: 1.4em;
  }

  .it-consulting-text p {
    font-size: 1em;
  }

  .it-consulting-image {
    width: 34%;
  }

  .services-list li {
    width: 48%;
  }

  .it-consulting-button {
    padding: 10px 20px;
    font-size: 1em;
  }
}

@media screen and (min-width: 1920px) {
  .it-consulting-container {
    padding: 60px;
    gap: 25px;
  }

  .it-consulting-text {
    margin-bottom: 120px;
  }

  .it-consulting-text h1 {
    font-size: 2.8em;
  }

  .it-consulting-text h2 {
    font-size: 1.6em;
  }

  .it-consulting-text p {
    font-size: 1.2em;
  }

  .it-consulting-image {
    width: 35%;
  }

  .services-list li {
    width: 45%;
  }

  .it-consulting-button {
    padding: 15px 30px;
    font-size: 1.2em;
  }
}
